 
  <div>
    <carousel interval="myInterval">
      <slide  class="metbox-{{ slide.style }}" ng-repeat="slide in slides" active="slide.active">
        <h1 style="margin:auto">{{ }}</h1>
        <div class="carousel-caption">
          <h2>{{slide.q}}</h2>
          <p>{{slide.a}}</p>
        </div>
      </slide>
    </carousel>
  </div>
  <div class="row" ng-show="debug">
    <div class="col-md-6">
      <a class="btn btn-info" ng-click="addSlide()">Add Slide</a>
    </div>
    <div class="col-md-6">
      Interval, in milliseconds: <input type="number" class="form-control" ng-model="myInterval">
      <br />Enter a negative number to stop the interval.
    </div>
  </div>
