<div class="container"><pre>
# Angular Question:
-------------------------
## A4-Questions
- ng里如何跳转到别的route对应的页面？ <b class="label label-success">$location.path</b>
- 没法同时使用多块模板 <b class="label label-danger">只能有一个ng-view，只好自己用$http加载？</b>
- ng里为什么明明在#后面的，不是$location.hash,而是location.path?

## A3-有没有类似的功能？
- jqPlot
- markdown / JADE


## A2-需要学习的功能
- 切换动画 $animate
- ngInclude

- Google Chart Tools<b class="label label-danger">不好用？</b>
- Google Chart Tools AngularJS Directive<b class="label label-danger">不好用？</b>
- angular-charts<b class="label label-danger">不好用？</b>

## A1-已学习的功能
- ui-chart<b class="label label-success">https://github.com/angular-ui/ui-chart/</b>
- 基本的directive, ng-app, ng-controller, angular#module, angular#controller
- 常用ng: ng-repeat, ng-click, ng-if, ng-class, 
- 基本的DI, $scope, $rootScope
- 基本的route, angular#config, ng-view, $routeProvider
- 基本的provide, angular#service
- 内置service: $log, $http
- 使用$location.path 改变路径


# 使用的第三库，其他工具
-------------------------
- ui-bootstrap
- jQuery
- jqPlot

# App Todo
-------------------------
## step x: 多种算法计算
## step x: 本地版本(node-webkit)

## step 6: 上传地震波

## step 5: 用户注册，登录，第三方登录

## step 4.4：地震波列表中可选择中多条，可同时显示多条波，同时显示多条波的结果
## stpe 4.3: 地震波列表中条件过滤功能
## step 4.2: 用TAB切换显示内容
## step 4.1: 通知系统

## step 4: 下载地震波曲线，下载计算结果曲线<span class="label label-success">done 2014.04.26</span>

## step 3: 计算地震波<span class="label label-success">done 2014.04.20</span>

## step 2: 显示地震波<span class="label label-success">done 2014.04.14</span>

## step 1: 加载地震波<span class="label label-success">done 2014.04.06</span>
</pre></div>