/* GLOBAL STYLES
-------------------------------------------------- */
body {
  padding-top: 66px;
  padding-bottom: 40px;
  color: #222;
}
#footer , .footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  padding-top: 10px;
  text-align: center;
  background-color: #eee;
}
.navbar {
  margin-bottom:0;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 300px;
  margin-top: -15px;
  margin-bottom: 40px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 300px;
  
}

/* 定义一个小的，可用来作状态栏等 */
.carousel-40 {
  height: 42px;
  margin-top: -0px;
  margin-bottom: 0px;
}
.carousel-40 .item {
  height: 42px;
}
.carousel-40 .carousel-indicators {
  display:none;
}
.carousel-40  .icon-prev, 
.carousel-40  .icon-next, 
.carousel-40  .glyphicon-chevron-left, 
.carousel-40  .glyphicon-chevron-right {
  top: 13px;
}


.metbox-blue {
  background-color: #2e8bcc;
}
.metbox-green {
  background-color: #339933;
}
.metbox-red {
  background-color: #e51400;
}
.metbox-yellow {
  background-color: #ffc40d;
}
.metbox-orange {
  background-color: #f09609;
}
.metbox-pink {
  background-color: #e671b8;
}
.metbox-purple {
  background-color: #7b4f9d;
}
.metbox-lime {
  background-color: #8cbf26;
}
.metbox-magenta {
  background-color: #ff0097;
}
.metbox-teal {
  background-color: #00aba9;
}
.metbox-white {
  background-color: #eeeeee;
}
.metbox-black {
  background-color: #111111;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-right: 15px;
  padding-left: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
}
.marketing {
  text-align: center;
}

.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left:  15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left:  0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}


/*--- see http://angular-ui.github.io/bootstrap/ ------*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


/* app css */

.box-chart {
  width: 99%;
}

.cursor-pointer {
  cursor:pointer;
}
.box-wave-list {
  max-height:475px;
  overflow-y:auto;
  cursor:pointer;
  text-align:left;
}
.noty-tpl{
  position:fixed;
  left:50%;
  top:-50px;
  z-index: 9999;
  max-width:400px;
  text-align: center;

  -webkit-transition: top 0.5s ease-out,opacity 0.5s ease-out;
  -moz-transition: top 0.5s ease-out,opacity 0.5s ease-out;
  -o-transition: top 0.5s ease-out,opacity 0.5s ease-out;
  transition: top 0.5s ease-out,opacity 0.5s ease-out;
  
  
  border-radius: 4px;
  font-size: 13px;
  font-weight: bold;
  padding:2px 8px 2px 8px;
  border:1px solid #999;
  font-size: 120%;
}

.status-box {
  height:42px;
}