<!DOCTYPE html>
<html lang="zh-cmn-Hans" ng-app="LaolinApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/favicon.ico">

    <title>{{app.pageTitle}} :: by LaoLin</title>

    <!-- Bootstrap core CSS -->
    <link href="../lib/bs311/css/bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

    <link href="css/index.css" rel="stylesheet">
  </head>
  <body ng-controller="AppCtrl">
    <!-- NAVBAR
    ================================================== -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation"  ng-controller="TopNavCtrl">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-init="isCollapsed=true" ng-click="isCollapsed = !isCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{{appName}}</a>
        </div>
        <div class="navbar-collapse collapse"  collapse="isCollapsed">
          <ul class="nav navbar-nav">
            <li ng-repeat="nav in navs" ng-class="{ active:nav.active }" ><a href="{{nav.link}}">{{nav.text}}</a></li>
            <li class="dropdown ng-hide" ng-show="navdropdowns.text">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{navdropdowns.text}} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li ng-repeat="item in navdropdowns.items"
                class="{{ item.class }}">
                  <a ng-if="item.link" href="{{item.link}}">{{item.text}}</a>{{item.link?'':item.text}}
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

   



    <div class="container">
      <div id="js-loading"class="jumbotron">  
        <h1>Welcome!</h1>
          <p ng-show="!initok"><button type="button" class="btn btn-primary" ng-click="initok=true">Start</button></p>
          <p ng-show="initok" >
            <a class='btn btn-success' href="#/">return</a>
            <a class='btn btn-info' href="#/p1">start p1</a>
            <a class='btn btn-info' href="#/p2">start p2</a>
          </p>
      </div>
    </div><!-- /.container -->
    <div ng-view></div>
    <div class="container">

      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 <a href="http://laolin.com/" target="_blank">LaoLin.com</a> &middot; <a href="http://LinJianPing.com/" target="_blank">LinJianPing.com</a></p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../lib/angular.min.js"></script>
    <script src="../lib/angular-route.min.js"></script>
    <script src="../lib/ui-bootstrap-tpls-0.10.0.min.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
