<!DOCTYPE html>
<html lang="zh-cmn-Hans" ng-app="waveApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/favicon.ico">

    <title>Welcome :: by LaoLin</title>

    <!-- Bootstrap core CSS -->
    <link href="../lib/bs311/css/bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

    <link href="css/index.css" rel="stylesheet">
  </head>
  <body ng-controller="waveCtrl">
    <!-- NAVBAR
    ================================================== -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{{appName}}</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li ng-repeat="nav in navs" ng-class="{ active:nav.active }" ><a href="{{nav.link}}">{{nav.text}}</a></li>
            <li class="dropdown ng-hide" ng-show="navdropdowns.text">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{navdropdowns.text}} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li ng-repeat="item in navdropdowns.items"
                class="{{ item.class }}">
                  <a href="{{item.link}}">{{item.text}}</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
        <li data-target="#myCarousel" data-slide-to="6"></li>
        <li data-target="#myCarousel" data-slide-to="7"></li>
        <li data-target="#myCarousel" data-slide-to="8"></li>
        <li data-target="#myCarousel" data-slide-to="9"></li>
        <li data-target="#myCarousel" data-slide-to="10"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item metbox-red active">
          <div class="container">
            <div class="carousel-caption">
              <h1>Example headline.</h1>
              <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
        <div class="item metbox-yellow">
          <div class="container">
            <div class="carousel-caption">
            <h1>yellow</h1>
            <p>地地地地地地地地地地地地地地地地地地地地地地地地地地地地地地地地地地地地地地地地地</p>
          </div>
          </div>
        </div>
        <div class="item metbox-black">
          <div class="container carousel-caption">
          <h1>black</h1>
          </div>
        </div>
        <div class="item metbox-pink">
          <div class="container carousel-caption">
          <h1>pink</h1>
          </div>
        </div>
        <div class="item metbox-orange">
          <div class="container carousel-caption">
          <h1>orange</h1>
          </div>
        </div>
        <div class="item metbox-purple">
          <div class="container carousel-caption">
          <h1>purple</h1>
          </div>
        </div>
        <div class="item metbox-lime">
          <div class="container carousel-caption">
          <h1>lime</h1>
          </div>
        </div>
        <div class="item metbox-magenta">
          <div class="container carousel-caption">
          <h1>magenta</h1>
          </div>
        </div>
        <div class="item metbox-teal">
          <div class="container carousel-caption">
            <h1>teal</h1>
          </div>
        </div>
        <div class="item metbox-green">
          <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item metbox-blue">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="http://files.laolin.com/2013/structural-engineering/20130715-team.jpg" alt="Generic placeholder image">
          <h2>结构工程师</h2>
          <p>结构工程师结构工程师结构工程师结构工程师结构工程师结构工程师结构工程师结构工程师结构工程师结构工程师结构工程师结构工程师结构工程师结构工程师结构工程师结构工程师结构工程师结构工程师结构工程师结构工程师结构工程师结构工程师结构工程师结构工程师结构工程师结构工程师结构工程师结构工程师</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="http://files.laolin.com/2013/development/20130715-development.jpg" alt="Generic placeholder image">
          <h2>编程爱好者</h2>
          <p>编程爱好者编程爱好者编程爱好者编程爱好者编程爱好者编程爱好者编程爱好者编程爱好者编程爱好者编程爱好者编程爱好者编程爱好者编程爱好者</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="http://files.laolin.com/2013/laolin-family/20130525.laolin.family-200.jpg" alt="Generic placeholder image">
          <h2>老林之家</h2>
          <p>老林之家老林之家老林之家老林之家老林之家老林之家老林之家老林之家老林之家老林之家老林之家老林之家老林之家</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->



      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 <a href="http://laolin.com/" target="_blank">LaoLin.com</a> &middot; <a href="http://LinJianPing.com/" target="_blank">LinJianPing.com</a></p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../lib/angular-1.2.6.min.js"></script>
    <script src="../lib/ui-bootstrap-tpls-0.10.0.min.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
