    <div class="container marketing">
      <div class="row">
        <span ng-repeat="(key,wave) in waves">
          <a id="btn-wave-id-{{key}}" class="btn btn-info" ng-click="getWaveData(key)" >  name: {{wave}} </a> &nbsp;
        </span>
      </div>
      <div class="box-chart text-center" ui-chart="chartData" chart-options="chartOptions"></div>
      <div class="row" ng-show="waveId >= 0">
        
        <p>已加载地震波 <b class="label label-success">{{waveName}}</b></p>
        <div id="box-panel"></div>
      </div>
    </div>